
<h1>Welcome to Sinatra!</h1>
<p>Hello, world!</p>

<form action='/shortened_url' method='post'>
  <label for="url">Enter A URL</label>
  <input type="text" name="url"/>

  <input type="submit" name="Submit Button"/><br>  
</form>


