
<h1>Welcome to Sinatra!</h1>
<p>Hello, world!</p>

<form action='/shortened_url' method='post'>
  <label for="url">Enter A URL</label>
  <input type="text" name="url"/>

  <input type="submit" name="Submit Button"/><br>  
</form>

<br>
<center><a href='/all_urls'>Link to all links</a></center>

<br>
<%if @saved_url %>
  <a href='<%= "/short/#{@saved_url.short_url}"%>'     ><%= @saved_url.short_url %></a><br>
  <%= @saved_url.url_location %>
  <%= @saved_url.click_count %>
<% end %>





